name: Automated API Tests
on:
  push:
    branches: [ main ]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman Collection
        run: newman run "api-tests/Amazon_Edge_Cases_Suite.postman_collection.json" -r cli
