name: UI Testing Execution

on:
  push:
    paths:
      - 'ui-tests/**' # Solo se dispara si cambias algo en la carpeta de UI
  workflow_dispatch: # Te permite darle al botón "Play" manualmente en GitHub

jobs:
  ui-automation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Run Selenium Tests
      # Asegúrate de que el comando apunte a donde está tu pom.xml de UI
      run: mvn test -f ui-tests/pom.xml
